<div class="card card-light home-card mt-3">
  <div class="card-header bg-white event-header">
    <img [src]="'/file/'+event.fileBlobId" class="mx-auto img-responsive" alt="" aria-hidden="true" role="presentation">
    <div class="h4 online-flag" *ngIf="isEventOnline"><span class="badge text-bg-secondary">{{'event.online.badge' | translate}}</span></div>
  </div>
  <div class="card-body">
    <h2 class="card-title">{{title}}</h2>
    <app-event-dates [dateValidityProvider]="event" [displayIcon]="true"></app-event-dates>
    <div class="text-body-secondary mt-1" *ngIf="!isEventOnline">
      <fa-icon [icon]="['fas', 'map-marker-alt']"></fa-icon> &nbsp; {{event.location}}
    </div>
    <div class="mt-2">
      <span *ngIf="getTicketsLeft() > 0" class="badge bg-success">{{ getTicketsLeft() }} {{'event-list.tickets-left' | translate}}</span>
      <span *ngIf="getTicketsLeft() === 0" class="badge bg-danger">{{'show-event.sold-out' | translate}}</span>
    </div>
  </div>
  <div class="card-footer border-top-0 bg-white">
    <div class="d-flex justify-content-end">
      <a [routerLink]="['/event', event.shortName]" [queryParams]="params" class="btn stretched-link" [ngClass]="{'btn-success': getTicketsLeft() > 0, 'btn-secondary': getTicketsLeft() === 0}">
        <span *ngIf="getTicketsLeft() > 0">{{'event-list.link' | translate}}</span>
        <span *ngIf="getTicketsLeft() === 0">{{'show-event.sold-out.subscribe' | translate}}</span>
        <span class="sr-only"> {{title}}</span>
      </a>
    </div>
  </div>
</div>
