<div class="card mt-3">
  <div class="card-body d-flex align-items-center gap-3">
    <div class="flex-grow-1">
      <h2 class="card-title mb-1 fs-5">{{title}}</h2>
      <div style="min-height: 1.5rem;">
        <span *ngIf="!isPreSales && availableTickets > 0" class="badge bg-warning text-dark">{{ availableTickets }} {{'event-list.tickets-left' | translate}}</span>
        <span *ngIf="isSoldOut" class="badge bg-danger">{{'show-event.sold-out' | translate}}</span>
      </div>
    </div>
    <a [routerLink]="['/event', event.shortName]" [queryParams]="params" class="btn flex-shrink-0"
       [ngClass]="{'btn-success': !isSoldOut, 'btn-secondary': isSoldOut}">
      <span *ngIf="!isSoldOut">{{'event-list.link' | translate}}</span>
      <span *ngIf="isSoldOut">{{'event-list.sold-out' | translate}}</span>
      <span class="sr-only"> {{title}}</span>
    </a>
  </div>
</div>
